venv/
.env

__pycache__/
ingestion/__pycache__/
storage/__pycache__/
transformations/__pycache__/

app.log

.DS_Store

# Sample datasets

hourly_weather_data.json
daily_weather_data.json

models/models